<div class="client-tab">
    <div class="tab-actions">
        <div class="tab-item" routerLinkActive="tab-item-active" routerLink="tasks">Tasks</div>
        <div class="tab-item" routerLinkActive="tab-item-active" routerLink="worksheet">Worksheet</div>
        <div class="tab-item" routerLinkActive="tab-item-active" routerLink="accounts">Accounts</div>
        <div class="tab-item" routerLinkActive="tab-item-active" routerLink="files">Files</div>
        <div class="tab-item" routerLinkActive="tab-item-active" routerLink="bills">Bills</div>
        <div class="tab-item" routerLinkActive="tab-item-active" routerLink="info">Info</div>
        <div class="tab-item" routerLinkActive="tab-item-active" routerLink="tickets">Tickets</div>
        <div class="tab-item" routerLinkActive="tab-item-active" routerLink="library">Library</div>
        <div class="tab-item" routerLinkActive="tab-item-active" routerLink="revenue">Revenue</div>
        <div class="tab-item" routerLinkActive="tab-item-active" routerLink="meetings">Meetings</div>
        <div class="tab-item" routerLinkActive="tab-item-active" routerLink="requirement">Requirement</div>
        <div class="tab-item" routerLinkActive="tab-item-active" routerLink="packages">Packages</div>
    </div>
    <div class="btn-back" routerLink="../..">
        <mat-icon aria-hidden="false" class="icon-menu" aria-label="Example home icon">arrow_back</mat-icon>
        Back &nbsp;
    </div>
</div>
<div class="bd-bx-c1">
    <router-outlet></router-outlet>
</div>
